@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Roboto:300,400,700|Montserrat:300,400,600');
 
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

/*============================== GENERAL RULES ==============================*/
/*BODY*/
html{
    height: 100%;
}

body {
    height: 100%
    background-color: #F0F7EE;
}

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF SEVEN  */
.span_7_of_7 {
    width: 100%;
}

.span_6_of_7 {
    width: 85.57%;
}

.span_5_of_7 {
    width: 71.14%;
}

.span_4_of_7 {
    width: 56.71%;
}

.span_3_of_7 {
    width: 42.28%;
}

.span_2_of_7 {
    width: 27.85%;
}

.span_1_of_7 {
    width: 13.42%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 1200px) {
    .col {  margin: 1% 0 1% 0%; }
    .span_1_of_7, .span_2_of_7, .span_3_of_7, .span_4_of_7, .span_5_of_7, .span_6_of_7, .span_7_of_7 { width: 100%; }
}

/*  GRID OF FOUR  */
.span_4_of_4 {
    width: 100%;
}
.span_3_of_4 {
    width: 74.75%;
}
.span_2_of_4 {
    width: 49.5%;
}
.span_1_of_4 {
    width: 24.25%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col {  margin: 1% 0 1% 0%; }
    .span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}



/*=======================================================NAV====================================================*/
.navbar{
    margin-bottom: 44px;
}

.navbar ul {
    z-index: 1;
    font-size: 14pt;
    font-weight: 300;
    list-style-type: none;
    background: #88D9E6;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
}

.navbar ul li {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 160px;

}

.navbar ul li a {
    text-align: center;
    width: 160px;
    color: #FFF;
    text-decoration: none;
    color: #FFF;
    font-size: 14pt;

}

#loginbutton{
    cursor: pointer;
    background: #88D9E6;
    color: #FFF;
    border-style: none;
    width: 160px;
    font-size: 14pt;
    padding-top: 20px;
    padding-bottom: 20px;
}

#loginbutton:hover {
    background: #70B2BD;
}

.navbar li:hover {
    background: #70B2BD;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.readmore{
    display: none; /* Hidden by default */    
}

.modal_header h2{
    padding-top: 20px;
    text-align: center;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    float: right;
    margin-right: 20px;
    margin-top: -30px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/*=======================================Footer Area=========================================*/
footer{
    margin-left: auto;
    margin-right: auto;
}

footer p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer{
    margin-left: auto;
    margin-right: auto;
    font-size: 10pt;
    width: 100%;
    display: inline-block;
    color: #FFF;
    background: #2f2f2f;
    padding-top: 20px;
    padding-bottom: 25px;
    margin-top: -4px;
    margin-bottom: -4px;
}

.footer h5{
    font-size: 14pt;
    text-align: left;
}

.footer a{
    text-decoration: none;
    font-size: 10pt;
    color: #FFF;
}

.footer div{
    text-align: center;
    float: left;
    width: 15%;
    margin-left: 5%;
    margin-right: 5%;
}

.footer ul li{
    text-align: left;
    list-style: none;
}

/*=======================================Banner Images========================================*/
.bigbanner{
    margin-top: 63px;
    background-color: #e1efdd;
    margin-top: 63px;
    margin-bottom: -4px;
}

.bigbanner img{
    width: 100%;
}

.pagetitle{
    margin-top: 103px;
    margin-bottom: 20px;
    text-align: center;
}

/*====================================Category Page Stuff======================================*/

.toparea_cat{
    width: 100%;
    background-color: #5FDD99;
}

.cat_top_pic{
    width: 100%;
        margin-bottom: -23px;
}

.cat_top_pic img{
    width: 100%;
}

.cat_header {
    width: 100%;
}

.cat_abouttxt{
    margin-left: 60px;
    margin-right: 60px;
    text-align: left;
}

.cat_name_h2{
    text-align: center;
    color: #FFF;
    font-size: 24pt;
    margin-bottom: 20px;
    margin-top: 20px;

}

.cats{
    margin-top: 90px;
    font-size: 30px;
    font-weight: 300;
    color: #FFF;
}

.bigcat{
    max-width: 100%;
    margin: 0px 0px 0px 0px;
    margin-bottom: -4px;
}

.cattext{
    margin: 40px 40px 0px 40px;
    text-align: justify;
    color: #000;
    font-weight: 300;
    font-size: 16pt;
}

.catright{
    width: 50%;
    float: right;
}

.catleft{
    width: 50%;
    float: left;
}

.cat_title{
    margin-top: 40px;
    text-align: center;
    font-size: 32pt;
}

.grouppic{
    position: relative;
    text-align: center;
    color: white;
}

.grouppic img{
    width: 100%;
}


/*=========================Text Overlays on the category images==========================*/
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered a{
    text-decoration: none;
}

/*============================== PRODUCTS PAGE ==============================*/
.toparea{
    background-color: #5FDD99;
}

.shorttext{
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 840px;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #000;
    font-weight: 300;
    font-size: 12pt;
}

.productarea{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #F0F7EE;
}

/* CARDS */

/*GRID*/
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
    margin: auto;
}
/* END OF GRID */

.view {
    width: 100%;
    background-color: #e1efdd;
    color: #0E2E33;
    border: none;
    padding: 5px 5px 5px 5px;
}
 
.view:hover {
    background-color: #FFF;
}
 
.button {
    background-color: #F7EE7F;
    color: #0E2E33;
    border-style: none;
    padding: 5px 30px 5px 30px;
    margin-left: 70px;
    margin-right: 70px;
}
 
.button:hover {
    background-color: #F7EE7F;
}

.item {
    width: 250px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    background: #FFF;
}

.item img {
    width: 100%;
    height: auto;
}

.item2 {
    width: 250px;
    text-align: center;
    background: #0E2E33;
}

.name {
    height: 50px;
    font-size: 18px;
    max-width: 350px;
    margin-bottom: 18px;
}
 
.price {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.ctgry {
    font-size: 16px;
    font-weight: 600;
    list-style: none;
    text-decoration: none;
    color: #000;

}

.ctgry p{
    margin-bottom: 10px;
}

.ctgry a {
    list-style: none;
    text-decoration: none;
    color: #000;
}
 
.descrip {
    height: 140px;
    font-size: 12px;
}

.searchresult{
    text-align: center;
    font-size: 16pt;
}

/*============================== ITEM PAGE ==============================*/

.productdetail{
    height: 900px;
    margin-top: 63px;
    padding-top: 100px;
}

.bigitem {
    background-color: #FFF;
    border: 1px solid #333333;
    width: 960px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.bigitem img{
    width: 400px;
    margin-top: 40px;
}

.detailpic{
    float: left;
}

.longdescrip {
    padding-left: 400px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 300;
    font-size: 14pt;
}

.longdescrip p{
    text-align: left;
}

.spec {
    color: #000;
    text-align: left;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    list-style: none;
    text-decoration: none;
}

.spec a {
    list-style: none;
    text-decoration: none;
    color: #000;
}

.bigname{   
    text-align: center;
    width: 100%;
    margin-top: 40px;
    font-size: 30pt;
}

#search{
    z-index: 1;
    width: 300px;
    height: 42px;
    position: fixed;
    top: 2px;
    right: 102px;
}

#search:hover{
}

#searchbtn{
    color: #000;
    z-index: 1;
    width: 90px;
    height: 41px;
    position: fixed;
    top: 10px;
    right: 12px;
    padding: 0px 0px;
    background-color: #F7EE7F;
}


input[type=text], input[type=password] {
    width: 770px;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #FFF;
}

input[type=submit]{
    background-color: #5FDD99;
    color: #FFF;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}

button {
    background-color: #5FDD99;
    color: #FFF;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
}

span.pass {
    margin-left: 10px;
    margin-top: 20px;
    float: right;
}

.loginbox {
    background-color: #FFF;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 800px; /* Could be more or less, depending on screen size */
}

.logbtn{
    width: 200px;
}

.addbtn{
    margin-top: 60px;
    width: 200px;
}

#rmbr{
margin-left: 20px;
}

/*============================== Cart ==============================*/

.deletebtn input[type=submit]{
    background-color: red;
    display: inline-block;
    float: right;
}

.minusbtn input[type=submit]{
    background-color: #5FDD99;
    display: inline-block;
    float: right;
}

.plusbtn input[type=submit]{
    background-color: #5FDD99;
    display: inline-block;
    float: right;
}

.cart_container{
    margin-top: 63px;

}

.cart_container h1{
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.cart_item{
    height: 170px;
    border: 1px solid #333333;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

.cart_item h2{
    margin-bottom: 20px;
}

.cart_image{
    float: left;
}

.cart_image img{
    width: 150px;
}

.cart_center{
    margin-left: 40px;
    height: 150px;
    float: left;
    text-align: left;
}

.cart_center p{
    text-align: left;
}

.cart_right{
    float: right;
    text-align: left;
    margin-right: 20px;
}

.subtotal{
    font-size: 16pt;
    font-weight: bold;
    margin-top: 110px;
}

.checkoutbtn{
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    float: right;
    width: 200px;
}

.total{
    margin-top: -50px;
    margin-right: 40px;
    margin-bottom: 20px;
    font-size: 24pt;
    font-weight: bold;
    float: right;
}

.emptycart{
    margin-top: 20px;
    margin-bottom: 12px;
    margin-left: 40px;
}

.noitems {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

/*===========================================ADMIN==============================================*/
.productlist{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.name_cell{

    display: inline-block;
    margin-left: 20px;
}

.cell{
    display: inline-block;
    margin-left: 20px;
}

.cellcontainer{
    float: right;
}

.cell_type1{
    background-color: #F0F7EE;
    padding-top: 16px;
    height: 32px;
}

.cell_type2{
    background-color: #e1efdd;
    padding-top: 20px;
    height: 32px;
}

.admindelete{

    float: right;
}

.admindelete input[type=submit]{
    background-color: red;
    color: #FFF;
    padding: 0px 20px;
    border: none;
    cursor: pointer;
}


/*===========================================CONTACT PAGE======================================*/

.contacttext{
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 840px;
    padding-top: 30px;
    color: #000;
    font-weight: bold;
    font-size: 12pt;
}

.toparea3{
    width: 100%;
    background-color: #5FDD99;
    padding-bottom: 80px;
}

/*============================== Featured Item ==============================*/

.feature{
    color: #FFF;
    font-size: 24pt;
    margin-bottom: 20px;
    margin-top: 20px;
}


.home_item_img{
    width: 100%;
}

.home_item_img img{
    width: 100%;
}

.smalldescrip {
    /*padding-left: 10px;*/
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 14pt;
    text-align: left;
}

.smalldescrip p{
    font-size: 12pt;
    text-align: left;
}

.smallname{   
    /*margin-left: 10px;*/
    text-align: left;
    font-size: 20pt;
}

.hometext{
    text-align: justify;
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;

    color: #000;
    font-weight: 300;
    font-size: 14pt;
}

.addbtn_home{
    margin-top: -20px;
    width: 100%;
    background-color: #e1efdd;
    color: #0E2E33;
    border: none;
    padding: 5px 5px 5px 5px;
}

#home_price{
    margin-top: -90px;
    margin-right: 10px;
    font-size: 20pt;
    text-align: right;
    float: right;
}

@media only screen and (max-width: 1200px) {

    .feature{
        margin-left: 50px;
        margin-right: 50px;
    }

    .smalldescrip {
        margin-left: 50px;
        margin-right: 50px;

    }

    .smallname{   
        margin-left: 50px;
        margin-right: 50px;
    }

}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}
/*----------------------------------------------------------------------------------NEW USER----*/

#userHint, #passHint, #verifyHint, #phoneHint, #emailHint, #addressHint {
    display: none;
}

.hints{
    font-size: 10pt;
    margin-left: 20px;
}

#checkimg, #checkimg2, #checkimg3, #checkimg4, #checkimg5, #checkimg6{
    float: right;
    margin-right: 15px;
    margin-top: -46px;
    display: inline;
}

#checkimg img, #checkimg2 img, #checkimg3 img, #checkimg4 img, #checkimg5 img, #checkimg6 img{
    margin-bottom: 0px;
}

#signup{
    /*border: 1px solid #333333;*/
    width: 800px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

#signup input[type=text], #signup input[type=password]{
    font-size: 14pt;
    margin-left: 20px;
    width: 720px;
}

#create_header{
    margin-top: 123px;
    text-align: center;
    font-size: 24pt;
}

#createbtn{
    float: right;
    margin-right: 60px;
}

#edit_info_btn{
    width: 200px;
    margin-left: 50%;
}

.myinfo_text{
    margin-left: 50%;
    margin-top: 40px;
    margin-bottom: 20px;
}

#avatar{
    width: 300px;
    float: left;
    margin-left: 100px;
    margin-right: auto;
}